.article{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.article-card{
    padding: 0;
    margin: 1em;
    border: 1px solid gray;
    border-radius: 10px;
    width: min-content;
}

.card-img{
    width: 33vw;
}

.article-card-body{
    padding: 1.5em;
}

.article-card-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}