:root{
  --cor-painel: white;
  --cor-titulo: #37190e;
  --cor-fundo: #210a0e;
}

.fundo{
  height: 100vh;
  width: 100%;
  background-image: url('../public/background2021.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  position: fixed;
}

.container{
  z-index: 1;
  position: relative;
  margin: 10em;
  padding: 2em;
  background-color: var(--cor-painel);
}

.listas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.footer{
  bottom: 0;
  text-align: center;
  width: 100%;
}