.navbar{
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: flex-start;
}

.navbar li{
    color: white;
    text-decoration: none;
}

.navbar h3{
    color: var(--cor-titulo);
}